$font-famaly: Helvetica, sans-serif;
$primary-color: #333;
$text-color: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%titlesIcons{
  width: 190px;
  font-family: "Montserrat Alternates", sans-serif;
}

%content {
  width: 85%;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  font-family: "KoHo", sans-serif;
}

%item {
  border: 1px solid rgb(187, 235, 241);
  border-radius: 7px;
  display: grid;
  height: 100%;
  width: 100%;
}
%backgroundImg {
  background-color: rgb(61, 158, 158);
  border-radius: 7px;
  width: 100%;
  height: 300px;
}

%img {
  margin: 0 auto;
  width: 200px;
  height: 270px;
}

%title {
  font-size: 120%;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  text-align: center;
  align-items: center;
  .header {
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    width: 100%;
    height: 770px;
    background-color: rgb(80, 156, 156);
    .headerImg {
      margin: 0 auto;
      width: 680px;
    }
    .imgCollection {
      display: grid;
      grid-template-columns: repeat(4 , 1fr);
      .character1 {
        width: 300px;
        height: 370px;
        margin-left: 100px;
        padding-top: 80px;
      }
      .character4 {
        margin-top: 340px;
        width: 300px;
        height: 350px;
      }
      .character2 {
        margin-left: 100px;
        width: 200px;
        height: 200px;
      }
      .character3 {
        transform: rotate(340deg);
        margin-top: 70px;
        margin-left: 50px;
        width: 320px;
      }
    }
  }
  .icons {
    position: relative;
    display: grid;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 400px;
    grid-template-columns: repeat(3 , 1fr);
    .childIcon{
      margin-top: 100px;
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
    }
    .character5 {
      width: 200px;
      height: 200px;
      margin-left: 80px;
    }
    #phoneTitle {
      @extend %titlesIcons;
    }
    #pikachuTitle {
      @extend %titlesIcons;
    }
    #ballTitle {
      @extend %titlesIcons;
    }
  }
  .navbar {
    font-weight: bolder;
    font-family: "Montserrat Alternates", sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 6fr;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgba(155, 192, 180, 0.26);
    #mainPage:hover {
      color: rgb(69, 69, 190);
    }
    .barChild {
      padding: 15px 0;
      border: 1px rgb(94, 122, 131) solid;
      color: rgba(37, 51, 54, 0.699);
      cursor: pointer;
      font-size: 20px;
      &:last-child {
        text-align: right;
        padding-right: 3rem;
      }
      .search {
        width: 20rem;
        height: 1.7rem;
        transition: width 1s;
        &:hover {
          width: 21rem;
        }
      }
      .searchButton {
        height: 1.7rem;
        width: 1.7rem;
      }
    }
    .barChild:hover {
      font-weight: bold;
    }
  }
  #content {
    @extend %content;
    .item {
      @extend %item;
      grid-template-rows: 1.5fr 0.3fr 0.7fr;
      .backgroundImg {
        @extend %backgroundImg;
        .img {
          @extend %img;
        }
      }
      .title {
        @extend %title;
      }
      .info {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        text-align: left;
        font-family: "Montserrat Alternates", sans-serif;
        flex-wrap: wrap;
        * {
          border-bottom: 1px solid rgb(147, 159, 161);
          margin-bottom: 18px;
        }
      }
    }
  }
  #content2 {
    @extend %content;
    .pokemonElement {
      @extend %item;
      grid-template-rows: 1fr 0.3fr;
      .backgroundImg {
        @extend %backgroundImg;
        .img {
          @extend %img;
        }
      }
      .title {
        @extend %title;
      }
    }
  }
  .popupContainer {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(51, 51, 51, 0.733);
    top: 0;
    padding-top: 100px;
    .popup {
      margin-top: 1250px;
      display: block;
      width: 700px;
      height: 600px;
      margin-left: 500px;
      background-color: aliceblue;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      font-family: "Montserrat Alternates", sans-serif;

      .btn-close {
        width: 40px;
        height: 40px;
      }
      .imgPopupContainer {
        display: flex;
        width: 230px;
        height: 230px;
        border-radius: 50%;
        background-color: #333;
        margin: 0 auto;
        .imgPopup {
          margin: 0 auto;
          padding-top: 30px;
          width: 200px;
          height: 200px;
        }
      }
      .weightPopup {
        font-family: "Gilda Display", serif;
      }
      .heightPopup {
      }
      .abilitiesPopup {
      }
      .typesPopup {
      }
      .statsPopup {
        display: flex;
      }
    }
  }
  .pagination {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    .butttonPagination {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      background-color: #ddd;
    }
    .butttonPagination:hover {
      color: blue;
    }
  }
}
.closeContainer {
  background-color: aliceblue;
  margin-top: 10px;
  margin-left: 8px;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 20px;
}
.close {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
