$font-famaly: Helvetica, sans-serif;
$primary-color: #333;
$text-color: white;

body {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: aliceblue;
    .searchBar {
      width: 100vw;
      height: 20vh;
      background-color: rgb(82, 114, 114);
      display: flex;
      #searchInput {
        width: 17vw;
        height: 7vh;
        border-radius: 8px;
        justify-content: center;
      }
    }
  }
}
