$font-famaly: Helvetica, sans-serif;
$primary-color: #333;
$text-color: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%titlesIcons {
  font-size: 2vw;
  font-family: "Montserrat Alternates", sans-serif;
}

%content {
  width: 85%;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  font-family: "KoHo", sans-serif;
}

%item {
  border: 1px solid rgb(112 169 176);
  border-radius: 1vw;
  display: grid;
  height: 100%;
  width: 100%;
}
%backgroundImg {
  background-color: rgb(61, 158, 158);
  border-radius: 7px;
  width: 100%;
  height: 18vw;
}

%img {
  margin: 0 auto;
  width: 10vw;
  height: 17vw;
}

%title {
  font-size: 1.1vw;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  position: relative;
  text-align: center;
  align-items: center;
  .header {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    width: 100%;
    height: 33vw;
    background-color: rgb(80, 156, 156);

    .headerImg {
      margin: 0 auto;
      width: 32vw;
    }
    .imgCollection {
      position: relative;
      z-index: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .character1 {
        width: 12vw;
        height: 15vw;
        margin-left: 6vw;
        padding-top: 5.5vw;
      }
      .character4 {
        margin-top: 13vw;
        position: relative;
        width: 15vw;
        height: 16vw;
        z-index: 2;
      }
      .character2 {
        margin-left: 5.7vw;
        margin-top: 1vw;
        width: 11vw;
        height: 11vw;
      }
      .character3 {
        transform: rotate(340deg);
        margin-top: 6.5vw;
        margin-left: 6vw;
        width: 15.5vw;
      }
    }
  }
  .icons {
    position: relative;
    display: grid;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 11vw;
    grid-template-columns: repeat(3, 1fr);
    .childIcon {
      margin-top: 3vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .character5 {
      position: relative;
      width: 7vw;
      height: 7vw;
      margin-left: 7vw;
    }
    #phoneTitle {
      @extend %titlesIcons;
    }
    #pikachuTitle {
      @extend %titlesIcons;
    }
    #ballTitle {
      @extend %titlesIcons;
    }
  }
  .navbar {
    font-weight: bolder;
    font-family: "Montserrat Alternates", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 6fr;
    margin: 0 auto;
    margin-bottom: 2.2vw;
    background-color: rgba(155, 192, 180, 0.26);
    height: 4vw;
    #mainPage:hover {
      color: rgb(69, 69, 190);
    }
    #favoriteList:hover {
      color: rgb(69, 69, 190);
    }
    .barChild {
      padding: 0.3vw;
      border: 0.2vw rgb(94, 122, 131) solid;
      color: rgba(37, 51, 54, 0.699);
      cursor: pointer;
      font-size: 1.3vw;
      &:last-child {
        text-align: right;
        padding-right: 3rem;
      }
      .search {
        width: 41vw;
        height: 2.7vw;
      }
      .searchButton {
        height: 2.7vw;
        width: 2.7vw;
      }
    }
    .barChild:hover {
      font-weight: bold;
    }
  }
  #content {
    @extend %content;
    .item {
      @extend %item;
      grid-template-rows: 1.5fr 0.3fr 0.7fr;
      .backgroundImg {
        @extend %backgroundImg;
        position: relative;
        .starImage {
          width: 2.7vw;
          height: fit-content;
          opacity: 0;
          position: absolute;
          right: 5%;
          top: 5%;
        }
        .img {
          @extend %img;
        }
      }
      .title {
        @extend %title;
      }
      .info {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        text-align: left;
        font-family: "Montserrat Alternates", sans-serif;
        flex-wrap: wrap;
        * {
          border-bottom: 1px solid rgb(147, 159, 161);
          margin-bottom: 18px;
        }
      }
    }
  }
  #content2 {
    @extend %content;
    .pokemonElement {
      @extend %item;
      grid-template-rows: 1fr 0.3fr;
      .backgroundImg {
        @extend %backgroundImg;
        position: relative;
        .starImage {
          width: 30px;
          height: fit-content;
          opacity: 0;
          position: absolute;
          right: 5%;
          top: 5%;
        }
        .img {
          @extend %img;
        }
      }
      .title {
        @extend %title;
      }
    }
  }
  #content3 {
    display: none;
    #noPokemon {
      margin: 0 auto;
      color: rgb(129, 167, 154);
      font-size: 70px;
    }
  }
  .popupContainer {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(51, 51, 51, 0.733);
    z-index: 2;
    top: 0;
    padding-top: 100px;
    .popup {
      display: block;
      width: 39.6875vw;
      height: 33.875vw;
      background-color: aliceblue;
      border-radius: 40px;
      position: fixed;
      display: flex;
      flex-direction: column;
      font-family: "Montserrat Alternates", sans-serif;
      font-size: 1.2vw;
      margin-left: 30vw;
      .btn-close {
        width: 40px;
        height: 40px;
      }
      .imgPopupContainer {
        display: flex;
        width: 12.050156739800002vw;
        height: 12.050156739800002vw;
        border-radius: 50%;
        background-color: #333;
        margin: 0 auto;
        .imgPopup {
          margin: 0 auto;
          padding-top: 30px;
          width: 11.050156739800002vw;
          height: 11.050156739800002vw;
        }
      }
      .weightPopup {
        font-family: "Gilda Display", serif;
      }
      .statsPopup {
        display: flex;
      }
    }
  }
  .pagination {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    .butttonPagination {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      background-color: #ddd;
    }
    .butttonPagination:hover {
      color: blue;
    }
  }
}
.closeContainer {
  background-color: aliceblue;
  margin-top: 10px;
  margin-left: 8px;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 20px;
}
.close {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 1100px) {
  %content {
    grid-template-columns: repeat(3, 1fr);

    %img {
      width: 13vw;
    }
    %title {
      font-size: 1.4vw;
    }
  }
  // body
  // .icons{
  //   height: 175px;
  // }
}
@media screen and (max-width: 750px) {
  body .header {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    width: 100%;
    height: 128vw;
    background-color: rgb(80, 156, 156);

    .headerImg {
      margin: 0 auto;
      width: 69vw;
    }
    .imgCollection {
      position: relative;
      z-index: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .headerImg {
        margin: 0 auto;
        width: 98vw;
      }
      .character1 {
        width: 31vw;
        height: 39vw;
        margin-left: 6vw;
        padding-top: 10.5vw;
        margin-top: 10vw;
      }
      .character4 {
        margin-top: 74vw;
        position: relative;
        width: 32vw;
        height: 37vw;
        z-index: 2;
      }
      .character2 {
        margin-left: -12.299999999999997vw;
        margin-top: 1vw;
        width: 27vw;
        height: 27vw;
      }
      .character3 {
        transform: rotate(340deg);
        margin-top: 38.5vw;
        margin-left: -19vw;
        width: 25.5vw;
      }
    }
  }
  body .icons {
    position: relative;
    display: grid;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1vw;
    grid-template-columns: repeat(3, 1fr);
    .character5 {
      position: relative;
      width: 16vw;
      height: 15vw;
      margin-left: 7vw;
    }
    .childIcon {
      margin-top: 10vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  body .navbar {
    font-weight: bolder;
    font-family: "Montserrat Alternates", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 6fr;
    margin: 0 auto;
    margin-bottom: 6.199999999999999vw;
    background-color: rgba(155, 192, 180, 0.26);
    height: 10vw;
    .barChild {
      padding-top: 1vw;
      border: 0.2vw rgb(94, 122, 131) solid;
      color: rgba(37, 51, 54, 0.699);
      cursor: pointer;
      font-size: 3.3vw;
      .search {
        width: 41vw;
        height: 6.7vw;
      }
      .searchButton {
        height: 7vw;
        width: 7vw;
      }
    }
  }

  %title {
    font-size: 2.8vw;
  }
  %img {
    width: 16vw;
  }
  %content {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    gap: 20px;
  }
  body #content2 .pokemonElement .backgroundImg .starImage {
    width: 3vw;
    height: fit-content;
  }
}
